.movie {
  overflow: hidden;
  width: 100%;
  box-shadow: var(--box-shadow-base);
}

.movie-image-container {
  position: relative;
  padding-top: 56.25%;
}

.movie-backdrop {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  margin-bottom: -2px;
}

.movie-poster-sm {
  position: absolute;
  bottom: var(--unit);
  left: var(--unit);
  width: calc(var(--unit) * 6);
  z-index: 1;
  box-shadow: var(--box-shadow-base);
}

.movie-title {
  color: #fff;
}
